@model IEnumerable<NhaKhoa.Models.PhieuDatLich>

@using (Html.BeginForm("Index", "QLLKham", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Search by Email or Fullname" })
                <input type="submit" value="Tìm kiếm" class="btn btn-primary mt-2" />
            </div>
        </div>

        <div class="col-md-4 text-right">
            <div class="form-group">
                @Html.TextBox("filterDate", null, new { @class = "form-control datepicker", placeholder = "Select a date" })
                <input type="submit" value="Lọc lịch" class="btn btn-success mt-2" />
                <a href="@Url.Action("ViewAllBooking")" class="btn btn-info mt-2">Xem tất cả lịch</a>
            </div>
        </div>
    </div>
}

<!-- Rest of your view code -->

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NhaSi/Views/Shared/Layout.cshtml";
}

<h2 class="mt-4">Lịch khám</h2>

<table class="table table-bordered mt-2">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Tên Bệnh Nhân</th>
            <th scope="col">Hình Thức thanh toán</th>
            <th scope="col">Phòng</th>
            <th scope="col">Ngày khám</th>
            <th scope="col">STT</th>
            <th scope="col">Trạng Thái</th>
            <th scope="col">Trạng thái thanh toán</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <!-- hien thi lich kham khi trang thai thanh toan  == true-->
    @foreach (var item in Model.Where(m => m.TrangThaiThanhToan==true))
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.AspNetUser.FullName)</td>
            <td>@Html.DisplayFor(modelItem => item.HinhThucThanhToan.TenHinhThuc)</td>
            <td>@Html.DisplayFor(modelItem => item.ThoiKhoaBieu.Phong.TenPhong)</td>

            <td>@if (item.NgayKham.HasValue)
            {@item.NgayKham.Value.ToString("dd-MM-yyyy")} -@Html.DisplayFor(modelItem => item.ThoiKhoaBieu.Thu.TenThu)</td>
            <td>@Html.DisplayFor(modelItem => item.STT)</td>
            <td>
                @if (item.TrangThai == true)
                {
                    <span class="text-success">Đã khám</span>
                }
                else
                {
                    <span class="text-warning">Chưa khám</span>
                }
            </td>
            <td>
                @if (item.TrangThaiThanhToan == true)
                {<span class="text-success"> Đã thanh toán</span>
                }
                else
                {
                    <span class="text-warning">Chưa thanh toán</span>
                }
            </td>
            <td>@Html.ActionLink("Chi Tiết", "Details", new { id = item.Id_Phieudat }, new { @class = "btn btn-info btn-sm" })</td>
            <td> @Html.ActionLink("Lập Đơn Thuốc", "LapDonThuoc", new { id_phieudat = item.Id_Phieudat }, new { @class = "btn btn-success btn-sm" })</td>
        </tr>
    }
</table>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script>
        $(function () {
            $(".datepicker").datepicker();
        });
    </script>
}
