@model NhaKhoa.Models.LapDonThuocViewModel

@{
    ViewBag.Title = "LapDonThuoc";
    Layout = "~/Areas/NhaSi/Views/Shared/Layout.cshtml";
}

<h2>LapDonThuoc</h2>

@using (Html.BeginForm("LapDonThuoc", "QLLKham", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.DonThuoc.Id_phieudat)

    <div class="form-group" hidden>
        @Html.LabelFor(model => model.DonThuoc.NgayGio, "Date") <!-- Corrected label -->
        @Html.EditorFor(model => model.DonThuoc.NgayGio, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DonThuoc.NgayGio, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label>Chọn thuốc:</label>
        @for (int i = 0; i < Model.Thuocs.Count; i++)
        {
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => Model.Thuocs[i].Selected, new { id = $"Thuocs_{i}_Selected" }) @Model.Thuocs[i].Tenthuoc
                    @Html.HiddenFor(m => Model.Thuocs[i].Id_thuoc)
                    @Html.TextBoxFor(m => Model.Thuocs[i].SoLuong, new { @class = "form-control quantity-input", placeholder = "Quantity" })
                    @Html.ValidationMessageFor(m => Model.Thuocs[i].SoLuong, "", new { @class = "text-danger" })
                </label>
            </div>
        }
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DonThuoc.Chandoan, "Chẩn đoán")
        @Html.EditorFor(model => model.DonThuoc.Chandoan, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DonThuoc.Chandoan, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DonThuoc.Soluong, "Total Quantity")
        @Html.EditorFor(model => model.DonThuoc.Soluong, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        @Html.ValidationMessageFor(model => model.DonThuoc.Soluong, "", new { @class = "text-danger" })
    </div>
    <div class="form-group" hidden>
        @Html.LabelFor(model => model.DonThuoc.TongTien, "Total Cost") <!-- Corrected label -->
        @Html.EditorFor(model => model.DonThuoc.TongTien, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        @Html.ValidationMessageFor(model => model.DonThuoc.TongTien, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" value="Create Prescription" class="btn btn-primary" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            updateTotalQuantity();

            $(".form-control").on("change", function () {
                updateTotalQuantity();
            });

            function updateTotalQuantity() {
                var totalQuantity = 0;

                $(".form-control").each(function () {
                    var quantity = parseInt($(this).val()) || 0;
                    if ($(this).closest(".checkbox").find(":checkbox").is(":checked")) {
                        totalQuantity += quantity;
                    }
                });

                $("#DonThuoc_Soluong").val(totalQuantity);
            }
        });
    </script>
}
