@model IEnumerable<NhaKhoa.Models.DanhGiaNhaSi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NhaSi/Views/Shared/Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Noidung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaoDanhGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDanhGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_Benhnhan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_Nhasi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Noidung)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.SaoDanhGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDanhGia)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Benhnhan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Nhasi)
        </td>
    </tr>
}

</table>
