﻿@model NhaKhoa.Models.PhieuDatLich

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title text-center">Chi tiết phiếu đặt lịch</h2>
            <hr />

            <dl class="row">
                <dt class="col-sm-3">STT:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.STT)</dd>

                <dt class="col-sm-3">Email:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.AspNetUser.Email)</dd>

                <dt class="col-sm-3">Tên bệnh nhân:</dt>
                <dd class="col-sm-9">@ViewBag.TenBenhNhan</dd>

                <dt class="col-sm-3">Hình thức thanh toán:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.HinhThucThanhToan.TenHinhThuc)</dd>

                <dt class="col-sm-3">Tên Nha sĩ:</dt>
                <dd class="col-sm-9">@ViewBag.TenNhaSi</dd>

                <dt class="col-sm-3">Ngày Khám:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.NgayKham)</dd>

                <dt class="col-sm-3">Giá:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Gia)</dd>

                <dt class="col-sm-3">Trạng Thái:</dt>
                <dd class="col-sm-9">
                    @if (Model.TrangThai == true)
                    {
                        <span class="text-success">Đã khám</span>
                    }
                    else
                    {
                        <span class="text-warning">Chưa khám</span>
                    }
                </dd>

                <dt class="col-sm-3">Trạng Thái Thanh Toán:</dt>
                <dd class="col-sm-9">
                    @if (Model.TrangThaiThanhToan == true)
                    {
                        <span class="text-success">Đã thanh toán</span>
                    }
                    else
                    {
                        <span class="text-warning">Chưa thanh toán</span>
                    }
                </dd>
            </dl>
        </div>
    </div>

    <div class="text-center mt-3">
        @Html.ActionLink("Chỉnh sửa phiếu", "Edit", new { id = Model.Id_Phieudat }, new { @class = "btn btn-primary" }) |
        @Html.ActionLink("Quay lại danh sách phiếu", "Index", new { @class = "btn btn-secondary" })
    </div>
</div>