@model IEnumerable<NhaKhoa.Models.DonThuoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    <button>
        @Html.ActionLink("Export Excel", "ExportToExcel", null, new { @class = "btn btn-success" })
    </button>
</p>

@using (Html.BeginForm("Index", "DoanhThuBanThuoc", FormMethod.Get))
{
    <div class="row">
        <div class="form-group col-md-4">
            <label for="selectedDate">Chọn Ngày:</label>
            <input type="date" id="selectedDate" name="selectedDate" class="form-control" />
        </div>

        <div class="form-group col-md-4">
            <label for="filterType">Lọc theo:</label>
            <select id="filterType" name="filterType" class="form-control">
                <option value="day">Ngày</option>
                <option value="week">Tuần</option>
                <option value="month">Tháng</option>
            </select>
        </div>

        <div class="form-group col-md-4">
            <button type="submit" class="btn btn-primary mt-4">Lọc</button>
        </div>
    </div>

}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PhieuDatLich.IdNhaSi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chandoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayGio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongTien)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PhieuDatLich.IdNhaSi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chandoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayGio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id_donthuoc }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id_donthuoc }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id_donthuoc })
            </td>
        </tr>
    }

</table>
