@model NhaKhoa.Models.DonThuoc
@{
    ViewBag.Title = "Bill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 class="text-center mt-5">Đơn Thuốc</h2>

    <!-- Display details of selected medicines, if needed -->
    <h3>Danh sách thuốc</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tên Thuốc</th>
                <th>Số Lượng</th>
                <th>Đơn Giá</th>
                <th>Thành Tiền</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var chiTietThuoc in Model.ChiTietThuocs)
            {
                <tr>
                    <td>@chiTietThuoc.Thuoc.Tenthuoc</td>
                    <td>@chiTietThuoc.soluong</td>
                    <td>@chiTietThuoc.Thuoc.Gia</td>
                    <td>@chiTietThuoc.Gia</td>
                </tr>
            }
        </tbody>
    </table>
    <div>
            <!-- Display prescription details based on the model data -->
            <p>Ngày Lập Đơn: @Model.NgayGio</p>
            <p>Chẩn đoán: @Model.Chandoan</p>
        <p>Tổng tiền: @Model.TongTien</p>
    </div>
    <!-- Add other bill content based on your requirements -->

</div>

