@model NhaKhoa.Models.AspNetUser
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "DetailsDoctor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-5">
            <div class="mb-5">
                <img class="img-fluid rounded" src="~/img/Nhaisiimg/@Model.HinhAnh" style="max-width: 400px" alt="">
            </div>
        </div>
        <div class="col-lg-7">
            <div class="mb-5">
                <h1 class="display-4 mb-4">@Html.DisplayFor(model => model.FullName)</h1>
                <p class="lead">@Html.DisplayFor(model => model.Ngaysinh)</p>
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="text-primary border-bottom border-5">Thời gian làm việc:</h2>
                        <ul class="list-unstyled">
                            @foreach (var workingHour in Model.ThoiKhoaBieux)
                            {
                                <li class="btn">
                                    <a href="@Url.Action("Appointment", "BookingDentist", new { NgayKham = workingHour.NgayLamViec, TenNhaSi = Model.FullName, idnhasi = Model.Id,Ca = workingHour.KhungGio.TenCa })"> @workingHour.KhungGio.TenCa - @workingHour.NgayLamViec-@workingHour.Phong.TenPhong</a>
                                </li>
                            }
                        </ul>
                    </div>
                    @*<div class="col-md-6">
                        <a class="btn btn-primary btn-lg w-100 py-2" href="">Đặt Lịch</a>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-5">
    <!-- Các phần tử hiển thị thông tin nha sĩ -->
    <!-- Form đánh giá và bình luận -->
    <div>
        <h2>Đánh giá và bình luận</h2>
        <form action="@Url.Action("AddReviewNhaSi", "Home")" method="post">
            @Html.AntiForgeryToken()

            <input type="hidden" name="Id_Nhasi" value="@Model.Id" />
            <input type="hidden" name="Id_Benhnhan" id="Id_Benhnhan" value="@User.Identity.GetUserId()" />
            <div class="form-group">
                <label for="SaoDanhGia">Điểm đánh giá:</label>
                <div class="rating">
                    <input type="radio" id="star5" name="SaoDanhGia" value="5" />
                    <label for="star5"></label>
                    <input type="radio" id="star4" name="SaoDanhGia" value="4" />
                    <label for="star4"></label>
                    <input type="radio" id="star3" name="SaoDanhGia" value="3" />
                    <label for="star3"></label>
                    <input type="radio" id="star2" name="SaoDanhGia" value="2" />
                    <label for="star2"></label>
                    <input type="radio" id="star1" name="SaoDanhGia" value="1" />
                    <label for="star1"></label>
                </div>
            </div>
            <div class="form-group">
                <label for="Noidung">Nội dung:</label>
                <textarea name="Noidung" class="form-control" required></textarea>
            </div>
            <div class="form-group" hidden>
                <label for="NgayDanhGia">Ngày tạo:</label>
                <input type="text" name="NgayDanhGia" class="form-control" value="@DateTime.Now.ToString()" readonly />
            </div>

            <button type="submit" class="btn btn-primary">Gửi đánh giá</button>
        </form>
    </div>

    <!-- Hiển thị danh sách đánh giá và bình luận -->
    <div>
        <h2>Danh sách đánh giá và bình luận</h2>
        <ul class="list-group">
            @foreach (var review in Model.DanhGiaNhaSis)
            {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                            <p>
                                Điểm đánh giá: @review.SaoDanhGia
                                @for (var i = 1; i <= 5; i++)
                                {
                                    <i class="fas fa-star @(i <= review.SaoDanhGia ? "text-primary" : "")"></i>
                                }
                            </p>
                        </div>
                        <div class="col-md-4">
                            <p>Ngày đánh giá: @review.NgayDanhGia</p>
                        </div>
                    </div>
                    <p>Nội dung: @review.Noidung</p>
                </li>
            }
        </ul>
    </div>


</div>
<style>
    .rating {
        display: inline-block;
        font-size: 0;
    }

        .rating input {
            display: none;
        }

        .rating label {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0;
            padding: 0;
            cursor: pointer;
        }

            .rating label:before {
                content: "\2605";
                position: absolute;
                top: 0;
                left: 0;
                font-size: 20px;
                line-height: 20px;
                color: #ddd;
            }

            .rating label:hover:before,
            .rating label:hover ~ label:before,
            .rating input:checked ~ label:before {
                color: #13C5DD;
            }
</style>