@model IEnumerable<NhaKhoa.Models.PhieuDatLich>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NhanVien/Views/Shared/Layout.cshtml";
}

<h2>Trang lịch khám của nhân viên</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.STT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            Tên nha sĩ
        </th>
        <th>
            Hình Thức Thanh Toán
        </th>
        <th>
            Ngày Khám
        </th>
        <th>
            Giá
        </th>
        <th>
            Trạng thái
        </th>
        <th>
            Trạng thái thanh toán
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.STT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.Email)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.IdNhaSi))
                {
                    string nhaSiName = ViewBag.NhaSiNames[item.IdNhaSi];
                    <span>@nhaSiName- @Html.DisplayFor(modelItem => item.ThoiKhoaBieu.Phong.TenPhong)</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HinhThucThanhToan.TenHinhThuc)
            </td>
            <td>
                @if (item.NgayKham.HasValue)
                {
                    @item.NgayKham.Value.ToString("dd-MM-yyyy")
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @if (item.TrangThai == true)
                {
                    <span class="text-success">Đã khám</span>
                }
                else
                {
                    <span class="text-warning">Chưa khám</span>
                }
            </td>
            <td>
                @if (item.TrangThaiThanhToan == true)
                {<span class="text-success"> Đã thanh toán</span>
                }
                else
                {
                    <span class="text-warning">Chưa thanh toán</span>
                }
            </td>
            <td>
                @Html.ActionLink("Chi tiết", "Details", new { id = item.Id_Phieudat }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.Id_Phieudat })
            </td>
        </tr>
    }

</table>

