@model IEnumerable<NhaKhoa.Models.DonThuoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NhaSi/Views/Shared/Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PhieuDatLich.IdNhaSi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chandoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayGio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soluong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongTien)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PhieuDatLich.IdNhaSi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chandoan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayGio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soluong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongTien)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id_donthuoc })
        </td>
    </tr>
}

</table>
